{% extends "home.html" %}

{% block title %}Budget{% endblock %}
{% block header %}HERE IS YOUR BUDGET{% endblock %}

{% block content %}

<table class="table">

    <tr class="tbl_header">
        <th>Expense</th>
        <th>Vendor</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Paid By</th>
    </tr>

    {% for expense in expenses %}
    <form action="/budget/{{expense.id}}/delete" method="post">
        <tr>
            <td>{{ expense.expense }}</td>
            <td>{{ expense.vendor }}</td>
            <td>{{ expense.category }}</td>
            <td>$ {{ expense.amount }}</td>
            <td>{{ expense.paidby }}</td>
            <td>
            <a href="/budget/{{expense.id}}" class="btn btn-success btn-md">Edit</a>
            <button class="btn btn-danger btn-md" name="delete" value="{{ expense.id }}">Delete</button>
            </td>
        </tr>
    </form> 
    {% endfor %}

</table>

{% endblock %}

